<style>
    .m-event-article__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        padding: 10px 20px 20px;
        position: relative;
        z-index: 3;
        font-size: 1.20rem;
        color: #fff;
    }
</style>
{{#get "pages" limit="1" filter="tags:actividades" include="tags,authors"}}
{{#foreach pages}}
<div class="m-featured-slider">
    <div class="m-featured-slider__list js-featured-articles">
        <div class="m-featured-slider__list__item">
            <article class="m-featured-article">
                <div class="m-featured-article__picture">
                    {{#if feature_image}}
                    <div class="lozad no-fade-animation" data-background-image="{{img_url feature_image size="l"}}">
                    </div>
                    {{/if}}
                </div>
                <div class="m-event-article__content">
                    {{#if primary_tag}}
                    <a href="{{primary_tag.url}}" class="m-featured-article__tag">/{{primary_tag.name}}</a>
                    {{/if}}
                    <div class="pos-relative">
                        {{content}}
                    </div>
                </div>
                <a href="{{url}}" class="m-featured-article__content">
                    <h1 class="m-featured-article__title js-featured-article-title" title="{{title}}">
                        {{title}}
                    </h1>
                </a>
            </article>
        </div>
    </div>
</div>
{{/foreach}}
{{/get}}